@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --ddf-color-bg-primary: #55BC04;
  --ddf-color-bg-secondary: #C2C2C2;
  --ddf-color-bg-tertiary: #FFF;

  --ddf-color-font-primary: #FFF;
  --ddf-color-font-secondary: #6F6F6F;
  --ddf-color-font-tertiary: #55BC04;

  --ddf-color-placeholder: #C2C2C2;

  --ddf-color-border-primary: #C2C2C2;
  --ddf-color-border-secondary: #55BC04;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

.ddf-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.dff-pt20 {
  padding-top: 20px;
}

.dff-pb20 {
  padding-bottom: 20px;
}